@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Comic+Neue:ital@0;1&family=Crimson+Text&family=Instrument+Serif&family=Josefin+Sans&family=Montserrat:wght@300&family=Poppins&family=Raleway&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto:wght@100;300;400&family=Sedgwick+Ave+Display&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
*:focus{
    outline:none;
}
header>h1{
    border: rgba(0,0,0,0.7);
    text-align: center;
    border-radius:25px;
    background-color: rgba(0,0,0,0.7);
    color:whitesmoke;
    padding:1rem 2rem;
    font-size:48px;
    margin-bottom: 5%;
}
header>form{
    display:flex;
    flex-direction: row;
    padding: 1rem 1rem;
    column-gap: 1rem;
    border-radius:10px;
}
form>#add-task{
    padding: 1rem;
    border-radius:20px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    border: rgba(0,0,0,0.7);
    color:whitesmoke;
    flex:1 1 0%;
    
}
form>#submit{
padding:1rem;
border-radius:20px;
background-color: rgba(208, 29, 29, 0.8);
border:rgba(208, 29, 29, 0.8);
cursor:pointer;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
form>#add-task:focus{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.24);
}
form>#submit:hover{
background-color: rgba(208, 29, 29, 1);
border:rgba(208, 29, 29, 1);
cursor:pointer;
}
section{
    border:solid 2px green;
}
html{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius:25px;
    height:100%;
}
body{
    margin:28px 10px;
    background-image: url(https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHdoaXRlfGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60);
    background-attachment: fixed;
    background-size: cover;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    border: rgba(0,0,0,0.7);
    border-radius:20px ;
    padding:2rem;
}
.task{
    display:flex;
    flex-direction: row;
}
section>h2{
    padding: 0.5rem;
    border-radius:10px ;
    color:white;
}
section>.task-list{
display: flex;
flex-direction: column;
row-gap: 1rem;
}
.task-list>.task{
display: flex;
column-gap: 1rem;
}
.actions{
    display:flex;
    column-gap:0.4rem;
}
.task-list{
    font-size: 24px;
    height: 200px;
    overflow: auto;
}
.task>.content>input{
    padding:0.45rem 0.2rem;
    width:100%;
    border-radius: 5px;
    background-color:rgb(239,216,231);
    color: black;
}
.task>.actions>input{
    padding:0.45rem 0.2rem; 
}
#edit{
    background-color: rgba(14, 181, 42, 0.7);
    border:rgba(14, 181, 42, 0.7);
    cursor:pointer;
    border-radius: 5px;
}
#delete{
background-color: rgba(208, 29, 29, 0.7);
border:rgba(208, 29, 29, 0.7);
cursor:pointer;
border-radius: 5px;
}
#edit:hover{
    background-color:rgba(14, 181, 42, 1);
    border:rgba(14, 181, 42, 1);
}
#delete:hover{
background-color: rgba(208, 29, 29, 1);
border:rgba(208, 29, 29, 1);
}
.text{
    border:none;
    flex:1 1 0%;
}